<!DOCTYPE HTML>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta http-equiv="refresh" content="30">
  <title>Graph2d </title>

  <style type="text/css">
    body, html {
      font-family: sans-serif;
    }
  </style>
  <script src="../node_modules/vis/dist/vis.js"> </script>
  <link   href="../node_modules/vis/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />



</head>
<body>
<h2>Graph2d | ejs</h2>
<br />
<div id="visualization"></div>
<script type="text/javascript">

  var container = document.getElementById('visualization');
  var groups = [];

  var itData = [];
  itData = <%- JSON.stringify(iotData) %>;
  itData.forEach(datapt => {
    groups.push({x : datapt.time,  y : datapt.temp })
  }
  
  );
  
  var dataset = new vis.DataSet(groups);
  
  var graph2d = new vis.Graph2d(container, dataset);
</script>
</body>


</html>